---
- hosts: all
  connection: local
  roles:
    - macos-config
    - dotfiles-config
    - homebrew

  pre_tasks:
    - name: Ensuring Homebrew Is Installed
      stat:
        path: "/usr/local/bin/brew"
      register: "homebrew_check"

    - name: Installing Homebrew
      command: '/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'
      when: >
        not homebrew_check.stat.exists

    - name: Configure sudo Without Password
        lineinfile:
          dest: /etc/sudoers
          state: present
          line: "{{ ansible_user_id }}	ALL=NOPASSWD: ALL"
          insertafter:  '^%admin\tALL=\(ALL\) ALL'
          validate: "visudo -cf %s"
        become: yes
        when: sudo_without_password and ansible_os_family == "Darwin"


  handlers:
    - name: Kill Dock
      command: killall Dock

    - name: Kill Finder
      command: killall Finder

    - name: Kill Transmission
      command: killall Transmission
      ignore_errors: yes

    - name: Kill Safari
      command: killall Safari
      ignore_errors: yes

    - name: Kill Terminal
      command: killall Terminal
      ignore_errors: yes