- name: Ensuring Homebrew Is Installed
  stat:
    path: "/usr/local/bin/brew"
  register: "homebrew_installed"

- name: Installing Homebrew
  command: '/usr/bin/ruby -e "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install)"'
  when: not homebrew_installed.stat.exists