- name: Ensuring oh-my-zsh Is Installed
  stat:
    path: "~/.oh-my-zsh/oh-my-zsh.sh"
  register: "omz_installed"

- name: Add zsh
  lineinfile: >
    backup=yes
    dest=/etc/shells
    regexp=^/usr/local/bin/zsh
    line=/usr/local/bin/zsh
  when: ansible_os_family == 'Darwin'
  become: true

- name: Set zsh as Default
  shell: chsh -s /usr/local/bin/zsh {{ ansible_env.USER }}
  when: ansible_os_family == 'Darwin'
  become: true

- name: Download oh-my-zsh Installation Script
  command: curl https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh -o /tmp/install.sh
  when: not omz_installed.stat.exists

- name: Install oh-my-zsh - step1
  command: chmod +x /tmp/install.sh
  when: not omz_installed.stat.exists

- name: Install oh-my-zsh - step2
  command: bash /tmp/install.sh "" --unattended && rm /tmp/install.sh
  when: not omz_installed.stat.exists

- name: Install zsh-autosuggestions
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions
