- name: Add zsh
  lineinfile: >
    backup=yes
    dest=/etc/shells
    regexp=^/usr/local/bin/zsh
    line=/usr/local/bin/zsh
  when: ansible_os_family == 'Darwin'
  become: true

- name: Set zsh as Default
  shell: chsh -s /usr/local/bin/zsh {{ ansible_env.USER }}
  when: ansible_os_family == 'Darwin'
  become: true