- name: Pull dotfiles Repository
  git:
    repo: "{{ dotfiles_repository }}"
    dest: "{{ ansible_env.HOME }}/dotfiles"
    force: yes

- name: Link dotfiles
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: "~/dotfiles/karabiner.json", dest: "~/.config/karabiner/karabiner.json" }
    - { src: "~/dotfiles/.zshrc", dest: "~/.zshrc"}
    - { src: "~/dotfiles/.awsrc", dest: "~/.awsrc"}
    - { src: "~/dotfiles/.miscrc", dest: "~/.miscrc"}
    - { src: "~/dotfiles/.gitrc", dest: "~/.gitrc"}
    - { src: "~/dotfiles/.dockerrc", dest: "~/.dockerrc"}

- name: Pull dotfiles Periodically
  cron:
    name: 'pull dotfiles'
    minute: '0'
    job: 'cd ~/dotfiles && git reset --hard origin/master && git clean -fxd && git pull -q'

- name: Add zsh
  lineinfile: >
    backup=yes
    dest=/etc/shells
    regexp=^/usr/local/bin/zsh
    line=/usr/local/bin/zsh
  become: true

- name: Default to zsh
  user:
    name: "{{ ansible_env.USER }}"
    shell: /usr/local/bin/zsh
  become: yes

- name: Verify if oh-my-zsh Is Installed
  stat:
    path: "~/.oh-my-zsh/oh-my-zsh.sh"
  register: "omz_installed"

- block:
  - name: Download oh-my-zsh Installation Script
    command: curl https://raw.githubusercontent.com/robbyrussell/oh-my-zsh/master/tools/install.sh -o /tmp/install.sh

  - name: Install oh-my-zsh
    command: bash /tmp/install.sh "" --unattended && rm /tmp/install.sh

  when: not omz_installed.stat.exists

- name: Install zsh-autosuggestions
  git:
    repo: https://github.com/zsh-users/zsh-autosuggestions
    dest: ~/.oh-my-zsh/custom/plugins/zsh-autosuggestions

- name: Verify if SDKMAN Is Installed
  stat:
    path: "~/.sdkman/"
  register: "sdkman_installed"

- name: Install SDKMAN
  shell: 'curl -s http://get.sdkman.io | bash'
  args:
    executable: /bin/bash
    warn: no
  when: not sdkman_installed.stat.exists

- name: Add SDKMAN in .zshrc
  lineinfile:
    dest: ~/.zshrc
    regexp: 'sdkman-init.sh'
    line: 'source $HOME/.sdkman/bin/sdkman-init.sh'
    state: present

- name: Enable tty_tickets
  lineinfile:
    dest: /etc/sudoers
    state: present
    line: "Defaults tty_tickets"
    validate: "visudo -cf %s"
  become: yes

- name: Enforce OSX-specific Key Bindings
  lineinfile:
    dest: ~/.zshrc
    regexp: "{{ item.value }}"
    line: "bindkey \"{{ item.key }}\" {{ item.value }}"
    state: present
  with_items:
    - { key: '[D', value: 'backward-word' }
    - { key: '[C', value: 'forward-word' }
    - { key: '^[a', value: 'beginning-of-line' }
    - { key: '^[e', value: 'end-of-line' }
    - { key: '\e[A', value: 'history-search-backward' }
    - { key: '\e[B', value: 'history-search-forward' }