- name: Pull dotfiles Repository
  git:
    repo: "{{ dotfiles_repository }}"
    dest: "{{ ansible_env.HOME }}/dotfiles"

- name: Link dotfiles
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
  loop:
    - { src: "~/dotfiles/karabiner.json", dest: "~/.config/karabiner/karabiner.json" }
    - { src: "~/dotfiles/.zshrc", dest: "~/.zshrc"}
    - { src: "~/dotfiles/.awsrc", dest: "~/.awsrc"}
    - { src: "~/dotfiles/.miscrc", dest: "~/.miscrc"}
    - { src: "~/dotfiles/.gitrc", dest: "~/.gitrc"}
    - { src: "~/dotfiles/.dockerrc", dest: "~/.dockerrc"}

- name: Pull dotfiles Periodically
  cron:
    name: 'pull dotfiles'
    minute: '0'
    job: 'cd ~/dotfiles && git reset --hard origin/master && git clean -fxd && git pull -q'


