- name: Remove Existing dotfiles Repository
  file:
    state: absent
    path: "{{ ansible_env.HOME }}/dotfiles"

- name: Pull dotfiles Repository
  git:
    repo: "https://github.com/{{ dotfiles_repository }}.git"
    dest: "{{ ansible_env.HOME }}/dotfiles"
    force: yes
    depth: 3

- name: Update dotfiles Repository Remote URL
  command: "git remote set-url origin git@github.com:{{ dotfiles_repository }}.git"
  args:
    chdir: "{{ ansible_env.HOME }}/dotfiles"

- name: Create ~/Library/Application Support/iTerm2/DynamicProfiles Directory
  file:
    state: directory
    path: "{{ ansible_env.HOME }}/Library/Application Support/iTerm2/DynamicProfiles/"

- name: Create ~/.config/karabiner Directory
  file:
    state: directory
    path: "{{ ansible_env.HOME }}/.config/karabiner"

- name: Link dotfiles
  file:
    src: "{{ item.src }}"
    dest: "{{ item.dest }}"
    state: link
    force: yes
  loop:
    - { src: "{{ ansible_env.HOME }}/dotfiles/karabiner.json", dest: "{{ ansible_env.HOME }}/.config/karabiner/karabiner.json" }
    - { src: "{{ ansible_env.HOME }}/dotfiles/.zshrc", dest: "{{ ansible_env.HOME }}/.zshrc"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.awsrc", dest: "{{ ansible_env.HOME }}/.awsrc"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.miscrc", dest: "{{ ansible_env.HOME }}/.miscrc"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.gitrc", dest: "{{ ansible_env.HOME }}/.gitrc"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.gitconfig", dest: "{{ ansible_env.HOME }}/.gitconfig"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.dockerrc", dest: "{{ ansible_env.HOME }}/.dockerrc"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/.p10k.zsh", dest: "{{ ansible_env.HOME }}/.p10k.zsh"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/Profiles.json", dest: "{{ ansible_env.HOME }}/Library/Application Support/iTerm2/DynamicProfiles/Profiles.json"}
    - { src: "{{ ansible_env.HOME }}/dotfiles/com.knollsoft.Rectangle.plist", dest: "{{ ansible_env.HOME }}/Library/Preferences/com.knollsoft.Rectangle.plist"}

- name: Source dotfiles in .zshrc
  lineinfile:
    dest: ~/.zshrc
    regexp: "{{ item }}"
    line: "source $HOME/{{ item }}"
    state: present
  with_items:
    - '.awsrc'
    - '.miscrc'
    - '.gitrc'
    - '.dockerrc'

- name: Setup dotfiles Sync
  include: dotfiles-sync.yml